html,body {
    width: 100%;
    height: 100%;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;;

}

body {
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;; 
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.5em;
    line-height: 1.4;
    color:#11004c;
    background-color: #f8f8f7;
    text-align: center;
    width: 100%;
}

h1 {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -8%;
   
}

h2 {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -4%;
    font-size: 13px;
    color: #140058;
}

/*
div {
    padding-top: 4%;
}
*/

.topnav {
    position: fixed;
    font-size: 20px;
    top: 10%;
    left :1%;
}

a {
    color:#1a0077;
    text-decoration: none;
}

a:hover {
    border-bottom: 3px solid red;
  }

.topnav ul{
    list-style: none; /* Remove list bullets */
    
}

.topnav li {
    display: inline;
}

section {
    margin-top: 12%;
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 1%;
}

.images {
    font-size: 0;
    padding-top: 4%;
}

img {
    max-width:100%;
    height:auto;
}

.topnav li a.shop {
    float: right;
    margin-right: 10%;
}

/* css for Shop.php start */
.container {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3,auto);
    justify-content: auto;
    min-height: 230vh;
    /*background-color: #2196F3;*/
    padding: 3% 10% 3% 10%;
}

.item {
    /*background-color: green;*/
    border: 1px solid rgba(0, 0, 0, 0.8);
    /*padding: 20px;*/
    font-size: 30px;
    text-align: center;
    position: relative;
    z-index: -1;
}

.item img {
    object-fit: cover;
    width: 100%;
   /* height: auto;*/
    /*transition: opacity 0.25s ease-in-out;*/
}

.item > p, span{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 13px;
    text-transform: uppercase;
}
/* css for Shop.php end */

/* css for about.php start */
article {
    padding: 7% 10% 1% 10%;
}

.secondarticle > p {
    margin-bottom: 10%;
}

h3 {
    font-size: 20px;
    color: rgb(59, 103, 247);
}



/* css for about.php ene */

footer {
    color: #1a0077;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}

footer p {
    margin-bottom: 0px;
}

footer nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.footernav {
    list-style: none;
    display: inline;
}

.footernav ul {
    /*display: inline;*/
}

.footernav li {
    
}

.footernav a {
    font-size: 12px;
}
/* Desktop */
@media all and (min-width:1300px) {
    .topnav {
        top: 20%;
    }

    section {
        margin-top: 13%;
        margin-left: 14%;
        margin-right: 14%;
    }

}

/* Tablet */
@media all and (min-width:737px) and (max-width:1299px)  {
    .topnav {
        top: 15%;
        font-size: 18px;
    }

    h2 {
        margin-top: -3%;
    }

    body{
        width: 100%;
    }

    .container {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(2,auto);
        justify-content: auto;
        min-height: 190vh;
        /*background-color: #2196F3;*/
        padding: 3% 10% 3% 10%;
    }
}

/* Phone */
@media all and (max-width:736px) {
    h1 {
        margin-top: 5%;
        font-size: 23px;
    }

    h2 {
        margin-top: 12%;
    }

    .topnav{
        font-size: 15px;
        margin-top: 7%;
    }

    div {
        padding-top: 0%;
    }

    .pic {
        width: 100%;  
        margin: 0%;
    }

    .container {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(1,auto);
        justify-content: auto;
        min-height: 600vh;
        /*background-color: #2196F3;*/
        padding: 5%;
    }

    footer {
        float: center;
        font-size: 12px;
        padding-bottom: 0%;
    }
}